.#{$prefix}-img--go-down {
  width: 100px;
  animation: slide-down 2s 2s ease forwards infinite;
  fill: white;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
