+Section({name :'media'})
      +Section({ name :'media' })
            h1 @media
            a(href="https://developer.mozilla.org/fr/docs/Web/CSS/@media") mdn

      +Section({ name :'media-accessibility' })
            h1 @media pour l'accessibilité

      +Section({ name :'media-specific' })
            h1 @media spécifiques
            a(href="https://www.w3.org/TR/mediaqueries-5/") w3c

      +Section({ name :'media-custom' })
            h1 Custom @media avec postCSS