+Section({name :'media'})
      +Section({ name :'media' })
            h1 @media
            a(href="https://developer.mozilla.org/fr/docs/Web/CSS/@media") mdn

      +Section({ name :'media-accessibility' })
            h1 @media pour l'accessibilité

      +Section({ name :'media-specific' })
            h1 @media spécifiques
            a(href="https://www.w3.org/TR/mediaqueries-5/") w3c

      +Section({ name :'media-custom' })
            h1 Custom @media avec postCSS
            a(href="https://lightningcss.dev/playground/index.html#%7B%22minify%22%3Afalse%2C%22customMedia%22%3Atrue%2C%22cssModules%22%3Afalse%2C%22analyzeDependencies%22%3Afalse%2C%22targets%22%3A%7B%22chrome%22%3A6225920%2C%22firefox%22%3A8192000%2C%22edge%22%3A8126464%7D%2C%22include%22%3A0%2C%22exclude%22%3A0%2C%22source%22%3A%22%40custom-media%20--modern%20(color)%2C%20(hover)%3B%5Cn%5Cn.foo%20%7B%5Cn%20%20background%3A%20yellow%3B%5Cn%5Cn%20%20-webkit-border-radius%3A%202px%3B%5Cn%20%20-moz-border-radius%3A%202px%3B%5Cn%20%20border-radius%3A%202px%3B%5Cn%5Cn%20%20-webkit-transition%3A%20background%20200ms%3B%5Cn%20%20-moz-transition%3A%20background%20200ms%3B%5Cn%20%20transition%3A%20background%20200ms%3B%5Cn%5Cn%20%20.be%20%7B%5Cn%20%20%20%20text-align%3A%20center%3B%5Cn%20%20%7D%5Cn%5Cn%20%20%2F*%20%E2%9D%8C%20DONT%20DO%20THIS%20%E2%9D%8C%20*%2F%5Cn%20%20%5Cn%20%20%26__small%20%7B%5Cn%20%20%20%20font-size%3A%200.5rem%3B%5Cn%20%20%7D%5Cn%20%20%5Cn%20%20%2F*%20%E2%9D%8C%20DONT%20DO%20THIS%20%E2%9D%8C%20*%2F%5Cn%5Cn%5Cn%20%20%5Cn%20%20%3E%20p%20%7B%5Cn%20%20%20%20color%3A%20hotpink%3B%5Cn%20%20%7D%5Cn%5Cn%20%20%26%3Ahover%20%7B%5Cn%20%20%20%20background%3A%20orange%3B%5Cn%20%20%7D%5Cn%5Cn%20%20%26.bar%20%7B%5Cn%20%20%20%20color%3A%20green%3B%5Cn%20%20%7D%5Cn%7D%5Cn%5Cn%40media%20(--modern)%20and%20(width%20%3E%201024px)%20%7B%5Cn%20%20.a%20%7B%5Cn%20%20%20%20color%3A%20green%3B%5Cn%20%20%7D%5Cn%7D%22%2C%22visitorEnabled%22%3Afalse%2C%22visitor%22%3A%22%7B%5Cn%20%20Color(color)%20%7B%5Cn%20%20%20%20if%20(color.type%20%3D%3D%3D%20'rgb')%20%7B%5Cn%20%20%20%20%20%20color.g%20%3D%200%3B%5Cn%20%20%20%20%20%20return%20color%3B%5Cn%20%20%20%20%7D%5Cn%20%20%7D%5Cn%7D%22%2C%22unusedSymbols%22%3A%5B%5D%2C%22version%22%3A%22local%22%7D") Playground
