+Section({name :'table'})
      +Section({ name :'table-responsive' })
            h1 Table responsive
            p table-layout: auto; permet de définir la largeur des colonnes en fonction du contenu.
            p table-layout: fixed; permet de définir la largeur des colonnes en fonction de la largeur de la table.
            p Avec table-layout: fixed; on peut définir la largeur des colonnes en pourcentage.
      +Section({ name :'table-sticky' })
            h1 Fixer les entêtes de tableau ou une colonne
            p position: sticky; permet de fixer un élément en fonction du scroll mais on peut également s'en servir pour fixer les entêtes d'un tableau ou une colonne.
