+Section({name :'anchor'})
      +Section({ name :'anchor-positioning' })
            h1 Anchor Positioning
            a(href="https://groups.google.com/a/chromium.org/g/blink-dev/c/jGTYNuidPRs/m/-jB4agJ7AAAJ?pli=1") veille
            a(href="https://caniuse.com/css-anchor-positioning") caniuse
            a(href="https://codepen.io/gsam59/pen/PoVyLea") codepen 