+Section({name :'margin-padding'})
      +Section({ name :'preface' })
            h1 Margin Padding 
            p margin-block, margin-inline, padding-block, padding-inline
      +Section({ name :'inset' })
            h1 Inset 
            p La propriété inset permet de définir les marges et les paddings en une seule ligne de code.