+Section({ name :'playground'})
      +Section({ name :'playground-link', background: './assets/images/playground.png' })
            h1 Playground
            a(href="https://react-starter-vitejs.netlify.app/" target="blank") Lien vers le playground
      +Section({ name :'playground-reveal', iframe: "https://react-starter-vitejs.netlify.app/", interactive : true })
      
      