+Section({name :'logical-properties'})
      +Section({ name :'logical-properties' })
            h1 CSS logical properties and values 
            a(href="https://ishadeed.com/article/css-logical-properties") ishadeed.com
            a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_logical_properties_and_values") doc MDN

      +Section({ name :'inset' })
            h1 Inset 
            p La propriété inset permet de définir les marges et les paddings en une seule ligne de code.
      +Section({ name :'margin' })
            h1 Margin 
            p margin-block, margin-inline, padding-block, padding-inline