extends ./layouts/main

block menu
  +Menu({ activePath: '/#/'})

block content
  include ./slides/home/index.pug
  include ./slides/custom-properties/index.pug
  include ./slides/has/index.pug
  include ./slides/nesting/index.pug
  include ./slides/old/exo1/exo1.pug
  // include ./slides/has/index.pug
  // include ./slides/animation-timeline/index.pug
  // include ./slides/anchor/index.pug
  // include ./slides/focus/index.pug
  // include ./slides/popover-api/index.pug
  // include ./slides/promises/index.pug
  // include ./slides/text-wrap/index.pug
  // include ./slides/dialog/index.pug
  // include ./slides/@scope/index.pug


