+Section({name :'anchor'})
      +Section({ name :'preface' })
            h1 Accessibility 
            p https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_media_queries/Using_media_queries_for_accessibility 