$name: "alert";

.#{$prefix}-#{$name} {
  --border-color: var(--r-dark-text-color);
  background: white;
  font-size: 1.3rem;
  display: flex;
  text-align: left;
  color: var(--r-dark-text-color);
  border-radius: 22px;
  gap: 2rem;
  padding: 0.3rem 1rem 0.3rem 0.3rem;
  margin: 2rem auto;
  width: fit-content;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.5);
  border: var(--border-color) solid 2px;
  font-weight: 300;
  .#{$prefix}-svg {
    width: 30px;
    fill: var(--border-color);
  }
  em {
    color: var(--border-color);
    font-weight: 300;
  }

  strong {
    .reveal & {
      color: var(--border-color);
    }
  }

  &--warning {
    --border-color: var(--sg-warning-color);
    background: var(--sg-warning-color-light);
  }
  &--error {
    --border-color: var(--sg-error-color);
    background: var(--sg-error-color-light);
  }
  &--success {
    --border-color: var(--sg-success-color);
    background: var(--sg-success-color-light);
  }
  &--info {
    --border-color: var(--sg-info-color);
    background: var(--sg-info-color-light);
  }

  &:not(:has(svg)) {
    font-style: italic;
    align-items: center;
    padding: 0.3rem;
    margin: 0;
  }
}
