mixin Alert({ modifier = '', icon= 'InfoIcon', name='alert'})
	-const classComponent = setClass(name, modifier, js)	
	div(class=classComponent role="alert")
		if icon
			+#{icon}({})
		span(class=`${prefix}-${name}__content`)
			block
