section(id="features")
      h1 Features
      div(class=`${prefix}-cards-3cols`)
            +Card({ title: 'Layout', content: "Header, Footer, TitleBar, A11yMenu", img: 'layout.svg', modifier: 'with-left-icon'  })
            +Card({ title: 'Accessibility', content: "A11yMenu", img: 'accessibility.svg', modifier: 'with-left-icon'  })
            +Card({ title: 'Shared components', content: "Skeleton, Modal, Table, Loader, Resilience, ...", img: 'shared.svg', modifier: 'with-left-icon' })
            +Card({ title: 'Notifications', content: "Système de notifications", img: 'shared.svg', modifier: 'with-left-icon' })