section(id="besoin" data-background-transition="fade" )
      h1 Le Besoin
      div(class=`${prefix}-cards`) 
            +Card({ title: 'CAPITALISER LES DÉVELOPPEMENTS AU FIL DES PROJETS', content: "Chaque projet a contribué à l’amélioration du starter"})
            +Card({ title: 'NE PAS REFAIRE LES CONFIGURATIONS À CHAQUE PROJET', content: "(Jest, MSW, Cucumber, Eslint, Typescript, Toolkit, OIDC, …)"})
            +Card({ title: 'RÉCUPÉRER LE SOCLE COMMUN', content: "(Header, Footer, Router, Layout, etc …)", id:"socle"})
            +Card({ title: 'AMÉLIORATION DU TTM', content: "Pouvoir démarrer un projet rapidement dans les environnements AXA avec une stack à jour"})