+Section({name :'colors'})
      +Section({ name :'colors-intro' })
            h1 Intro
            p color-mix
            p color(from #0000FF xyz calc(x + 0.75) y calc(z - 0.35)) (https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/color)

      +Section({ name :'colors-formats' })
            h1 Nouveaux formats de couleurs 
            p color-mix
            p color(from #0000FF xyz calc(x + 0.75) y calc(z - 0.35)) (https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/color)

      +Section({ name :'colors-relative' })
            h1 CSS Relatives Colors
            p color-mix
            p color(from #0000FF xyz calc(x + 0.75) y calc(z - 0.35)) (https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/color)
            a(href="https://caniuse.com/css-relative-colors") caniuse.com
            a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/color") mdn
            a(href="https://developer.chrome.com/blog/css-relative-color-syntax") Relative Color Syntax
