+Section({name :'colors'})
      +Section({ name :'colors' })
            h1 Nouveaux formats de couleurs 
            p color-mix
            p color(from #0000FF xyz calc(x + 0.75) y calc(z - 0.35)) (https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/color)