mixin ArrowthinDownIcon({ id="arrowthindown-icon", className=`${prefix}-svg` })
    svg(id=id  class=className xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewbox='0 0 100 100')
        path(d='M42.2 5.6v-.2 66.9l-21.1-21a5.52 5.52 0 0 0-7.8 0L10 54.6a5.52 5.52 0 0 0 0 7.8l36.1 36.1a5.52 5.52 0 0 0 7.8 0L90 62.4a5.52 5.52 0 0 0 0-7.8l-3.3-3.3c-1-1-2.4-1.6-3.9-1.6s-2.8.6-3.8 1.6L57.8 72.6V5.5c0-3-2.6-5.5-5.6-5.5h-4.6c-3 0-5.4 2.6-5.4 5.6z')
