mixin HomeIcon({id="home-icon", className=`${prefix}-svg` })
    svg(id=id  class=className xmlns='http://www.w3.org/2000/svg' viewbox='0 0 50 50')
        path(d='M25 1.05c-.22 0-.43.07-.62.21l-23 17.95a1 1 0 0 0-.17 1.4 1 1 0 0 0 1.4.18L4 19.7V46a1 1 0 0 0 1 1h14V29h12v18h14a1 1 0 0 0 1-1V19.71l1.38 1.08c.2.14.4.21.62.21a1 1 0 0 0 .79-.38 1 1 0 0 0-.17-1.4l-23-17.96c-.19-.14-.4-.2-.62-.2zM35 5v1.05l6 4.68V5h-6z')
