mixin InfoIcon({ id="info-icon", className=`${prefix}-svg` })
    svg(id=id class=className viewbox='0 0 24 24'  xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd' d='M22 12a10 10 0 1 1-20 0 10 10 0 0 1 20 0Zm-10 5.75c.41 0 .75-.34.75-.75v-6a.75.75 0 0 0-1.5 0v6c0 .41.34.75.75.75ZM12 7a1 1 0 1 1 0 2 1 1 0 0 1 0-2Z' clip-rule='evenodd')
