mixin SlashIcon({ id="slash-icon", modifier='' })
    -const classComponent = `${setClass('svg', modifier, js)}`
    svg(class=classComponent id=id xmlns='http://www.w3.org/2000/svg' xml:space='preserve' overflow='hidden' viewbox='0 0 342.99 280')
        path(fill-rule='evenodd' d='M233.87 0h109.12L109.12 280H0L233.87 0zm66.12 144.54V239h-78.8l-34.2 41h156V93zM43 41h78.8L156 0H0v187l43-51.54z' clip-rule='evenodd')
