mixin StackIcon({ id="stack-icon", className=`${prefix}-svg` })
    svg(id=id class=className xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24')
        path(d='M15.13 2.5c-.28-.47-.9-.63-1.37-.36a.98.98 0 0 0-.37 1.35l4.22 7.17-5.9-5.8a1.02 1.02 0 0 0-1.44 0 .98.98 0 0 0 0 1.4l6 5.88-7.25-4.1a1.01 1.01 0 0 0-1.38.37.98.98 0 0 0 .37 1.35l7.43 4.2-8.18-2.14a1.01 1.01 0 0 0-1.23.71.99.99 0 0 0 .7 1.22L15.3 16H7a1 1 0 1 0 0 2h10a1 1 0 0 0 .62-1.78 1 1 0 0 0 .27-1.32c.2-.08.37-.22.48-.42.14-.23.17-.5.1-.74.21-.03.41-.13.57-.28a.98.98 0 0 0 .3-.66.98.98 0 0 0 .99-1.48l-5.2-8.81ZM4 17a1 1 0 1 0-2 0v1a4 4 0 0 0 4 4h12a4 4 0 0 0 4-4v-1a1 1 0 1 0-2 0v1a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-1Z' )


