mixin TwitterIcon({ id="twitter-icon", className=`${prefix}-svg` })
    svg(aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' class=className id=id)
        path(d='M18.24 2.25h3.31l-7.23 8.26 8.5 11.24h-6.65l-5.21-6.82-5.97 6.82H1.68l7.73-8.84L1.25 2.25h6.83l4.71 6.23zm-1.16 17.52h1.84L7.08 4.13H5.12z')
