+Section({name :'text-wrap'})
      +Section({ name :'preface' })
            h1 Text wrap 
            p Text wrap is a CSS property that allows text to wrap around an image or other element.
            p pretty or balance